.si-button
{
    border-radius: 2px; 
}
.si-tab
{
    border-radius:3px;   
}
.si-tabs-position-right .si-tab
{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;     
}

.si-tabs-position-left .si-tab
{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;     
}
.si-tabs-position-bottom .si-tab
{
    border-top-right-radius:0px;
    border-top-left-radius:0px;     
}
.si-tabs-position-top .si-tab
{
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px; 
}


/*----------------------------------- bgcss ----------------------------------*/
.bg-toolbar
{
    background:#f0f0f0 url(images/toolbar/toolbar.gif) repeat-x 0 0;
}


/*----------------------------------- tools ----------------------------------*/

.si-tools .si-tools-collapse
{
    background:url(images/tools/collapse.gif) no-repeat 50% 50%;
    width:15px;	
}
.si-tools .si-tools-expand
{
    background:url(images/tools/expand.gif) no-repeat 50% 50%;
    width:15px;	
}
.si-tools-close
{
    background:url(images/tools/close.gif) no-repeat 50% 0px;
    width:15px;	
}


/*----------------------------------- toolbar ----------------------------------*/

.si-toolbar
{
    border:solid 1px #99bce8;
    background:#f0f0f0 url(images/toolbar/toolbar.gif) repeat-x 0 0;
}
.separator
{
    border-left:solid 1px #A8A8A8;    
}

/*----------------------------------- button ----------------------------------*/

.si-button
{
	background:url(images/button/button.gif) repeat-x 0px 50%;
	border:solid 1px #b5afaf;	
    color:#222;
}
body a:hover.si-button
{
	background:#e2f2fe url(images/button/hover.gif) repeat-x 0px 50%;
	border:solid 1px #80a4d0;	         
}
body .si-button-pressed, body a:hover.si-button-pressed,
body .si-button-checked, body a:hover.si-button-checked,
body a.si-button-popup, body a:hover.si-button-popup
{
	background:#bacee4 url(images/button/pressed.gif) repeat-x 0px 50%;	
	border-color:#7a9ac4;
}
body .si-button-disabled, body a:hover.si-button-disabled
{
    border-color:#E1E2E5;
    color:#BABAC1;
    background:#F8F9FA url(images/button/disabled.png) repeat-x 0 0px;       
}


/*----------------------------------- textbox ----------------------------------*/
.si-textbox-border
{
    background:white url(images/buttonedit/text-bg.gif) repeat-x 0px top;
	border:solid 1px #b5b8c8;    
}
body .si-textbox-focus .si-textbox-border
{
    border-color: #7eadd9;
}


/*----------------------------------- buttonedit ----------------------------------*/

.si-buttonedit-border
{
	background:white url(images/buttonedit/text-bg.gif) repeat-x 0px top;
	border-color:#b5b8c8;    
}
body .si-buttonedit-focus .si-buttonedit-border
{
    border-color: #7eadd9;
}
.si-buttonedit-button
{
	background:url(images/buttonedit/btn.gif) repeat-x 0px 50%;		
	border:#b5b8c8 1px solid;   
	padding:0;
}
.si-buttonedit-button-hover,
.si-buttonedit-hover .si-buttonedit-button
{
    background:url(images/buttonedit/btn-hover.gif) repeat-x 0 50%;	
	border-color:#80a4d0;
}
.si-buttonedit-button-pressed,
.si-buttonedit-popup .si-buttonedit-button
{
    background:url(images/buttonedit/btn-pressed.gif) repeat-x 0 50%;	
	border-color:#80a4d0;
}
.si-popupedit .si-buttonedit-icon
{
    background:url(images/buttonedit/arrow.gif) no-repeat  1px 2px;
}
.si-datepicker .si-buttonedit-icon
{
    background:url(images/buttonedit/date.gif) no-repeat  1px 2px;
}


/*------------------------- panel -----------------------*/

.si-panel-border
{    
    border:1px solid #99bce8;     
}
.si-panel-header
{
    height:25px;
    background:#E3E6E8 url(images/panel/header.gif) repeat-x 0 0px;
    color:#04408c;
    font-weight:bold;
    border-bottom:solid 1px #99bce8;
}
.si-panel-header-inner
{
   padding-top:4px;
}
.si-panel-toolbar
{
    border-bottom:solid 1px #99bce8;
    background:#D3E1F1;
}

.si-panel-footer
{
    border-top:solid 1px #99bce8;
    background:#D3E1F1;
}

.si-panel-collapse .si-tools-collapse
{
    background:url(images/tools/expand.gif) no-repeat 50% 50%;
}


/*----------------------------- window -------------------------*/
.si-window .si-panel-header
{
    background:#E3E6E8 url(images/window/header.gif) repeat-x 0 0px;
}
.si-window .si-panel-footer
{
    background:#D3E1F1;
}


/*------------------- navbar ------------------*/
.si-outlookbar-border
{
    border:1px solid #99bce8;         
}
.si-outlookbar .si-outlookbar-groupHeader
{
    background:#d9e8fb url(images/navbar/header.gif) repeat-x 0 0;    
    border-color:#99bce8;
}
.si-outlookbar .si-outlookbar-groupTitle
{
    color:Black;
    font-weight:normal;
}
.si-outlookbar .si-outlookbar-group 
{
    border-color:#99bce8;
}
.si-outlookbar .si-outlookbar-groupBody
{    
    border-color:#99bce8;
}
/* view2 */
.si-outlookbar-view2 .si-outlookbar-groupHeader
{
    border:solid 1px #99bce8; 
}
.si-outlookbar-view2 .si-outlookbar-groupBody
{    
    background:#fff;
}
/* view3 */
.si-outlookbar-view3 .si-outlookbar-group
{
    border:solid 1px #99bce8; 
}

.si-outlookbar .si-tools-collapse
{
    width:15px;	
}
.si-outlookbar .si-outlookbar-expand .si-tools-collapse
{
    background:url(images/navbar/expand.gif) no-repeat 50% 50%;   
}
.si-outlookbar .si-outlookbar-collapse .si-tools-collapse
{
    background:url(images/navbar/collapse.gif) no-repeat 50% 50%;   
}


/*----------------------- splitter -----------------------*/
.si-splitter-border
{
    border:solid 1px #99bce8;     
}
.si-splitter .si-splitter-pane1{
    border-color:#99bce8;
}
.si-splitter .si-splitter-pane2{
    border-color:#99bce8;
}

/*----------------------- layout -----------------------*/
.si-layout-border
{
    
}
.si-layout-region
{
    border-color:#90b5e3;    
}
.si-layout-region-header
{
    background:url(images/layout/header.gif) repeat-x 0 0;
    border-bottom:solid 1px #99bce8;
}
.si-layout-proxy
{
    border-color:#90b5e3;
    background:#D2E0F2;
}
.si-layout-proxy-hover
{
    background:#e1f0f2;    
}

.si-layout-region-west .si-tools-collapse
{
    background:url(images/layout/west.gif) no-repeat 50% 50%;
}
.si-layout-region-east .si-tools-collapse
{
    background:url(images/layout/east.gif) no-repeat 50% 50%;
}
.si-layout-region-north .si-tools-collapse
{
    background:url(images/layout/north.gif) no-repeat 50% 50%;
}
.si-layout-region-south .si-tools-collapse
{
    background:url(images/layout/south.gif) no-repeat 50% 50%;
}

.si-layout-proxy-west .si-tools-collapse
{
    background:url(images/layout/east.gif) no-repeat 50% 50%;
}
.si-layout-proxy-east .si-tools-collapse
{
    background:url(images/layout/west.gif) no-repeat 50% 50%;
}
.si-layout-proxy-north .si-tools-collapse
{
    background:url(images/layout/south.gif) no-repeat 50% 50%;
}
.si-layout-proxy-south .si-tools-collapse
{
    background:url(images/layout/north.gif) no-repeat 50% 50%;
}

/*------------------------- menu --------------------------------*/

.si-menu
{
	background:#f0f0f0 url(images/menu/menu.gif) repeat-y -5px 0;		
	border-color:#89b1e4;
    color:black;
}
.si-menuitem
{
    line-height:20px;    
}
.si-menuitem-hover
{
    border-color:#80a4d0;
	background:#d6e6fa url(images/menu/hover.gif) repeat-x;	
}
.si-menu-popup
{
    border-color:#80a4d0;
	background:#d6e6fa url(images/menu/hover.gif) repeat-x;	
}
.si-menuitem-selected
{
    border-color:#80a4d0;
    background:#DBDDE2 url(images/menu/pressed.png) repeat-x 0 0;
}
.si-menuitem-text, .si-menuitem-text a
{
    color:black;
}
.si-separator
{
    border-top:solid 1px #8EAADE;
}

/* menu horizontal */
.si-menu-horizontal .si-menu-inner
{
    background:#d3e1f1 url(images/menu/hmenu.gif) repeat-x 0 0;
}
.si-menu-horizontal .si-menuitem-hover
{
    border:solid 1px #80a4d0;
    background:#d6e6fa url(images/menu/hover.gif) repeat-x;	
}
.si-menu-horizontal  .si-menu-popup
{
    border:solid 1px #80a4d0;
    background:#d6e6fa url(images/menu/hover.gif) repeat-x;	
    border-bottom:0px;
}

/*---------------------- listbox -----------------------------*/
.si-listbox-border
{    
    border:#98c0f4 1px solid;
}
.si-listbox-border td
{
    line-height:20px;       
}
.si-listbox-item td{
	border-top:white 1px dotted;
	border-bottom:white 1px dotted;	
}
.si-listbox-item-hover td{
    background:#dfe8f6;
	border-top:#8eabe4 1px dotted;
	border-bottom:#8eabe4 1px dotted;
}
.si-listbox-item-selected td{
	background:#cbdaf0;
	border-top:#8eabe4 1px dotted;
	border-bottom:#8eabe4 1px dotted;
}
.si-listbox-header
{
    background:#E7EBEF url(images/listbox/header.png) repeat-x 0 0;    
    border-bottom:solid 1px #a5acb5;
}

/*------------------- treegrid --------------------*/
.si-treegrid-border
{
    border:1px solid #98c0f4;
}

.si-treegrid-header
{
    border-bottom:none;
}
.si-treegrid-headerInner
{
    background:#E7EBEF url(images/treegrid/header.png) repeat-x 0 0;
}
.si-treegrid td
{
    border-right:solid 1px #d0d0d0;
    border-bottom:solid 1px #d0d0d0;        
}
.si-treegrid-header td
{
    border-right:solid 1px #d0d0d0;
}

.si-treegrid-selectedNode
{
	background:#cbdaf0;
}
.si-treegrid-hoverNode
{
    background:#dfe8f6;
}
/*
.si-treegrid-expand .si-treegrid-ec-icon
{
	background-image:url(images/treegrid/expand.gif);
	background-position:50% 50%;
}
.si-treegrid-collapse .si-treegrid-ec-icon
{
	background-image:url(images/treegrid/collapse.gif);
	background-position:50% 50%;
}*/
.si-treegrid-leaf
{
    background-image:url(images/treegrid/file.png);
}
.si-treegrid-folder
{
    background-image:url(images/treegrid/folder.gif);
}

/*---------------------- calendar -----------------------------*/
.si-calendar
{    
    border:1px solid #98c0f4;       
}
.si-calendar-header
{   
    background:#cad8ec url(images/calendar/footer.gif) repeat-x 0 0;    
    border-bottom:solid 1px #9bb5d3;    
}
.si-calendar-footer
{
    border-top:solid 1px #b2d1f5;
    background:#cad8ec url(images/calendar/footer.gif) repeat-x 0 0;    
}
.si-calendar-tadayButton, .si-calendar-clearButton,
.si-calendar-okButton, .si-calendar-cancelButton
{
	background:url(images/button/button.gif) repeat-x 0px 50%;
	border:solid 1px #b5afaf;	
    color:#222;
}
.si-calendar-menu-selected, a:hover.si-calendar-menu-selected
{
    color:#333;
    background:#dae5f3;
    border:solid 1px #8db2e3;
}

.si-calendar .si-calendar-selected
{
    color:#333;
    background:#dae5f3;
    border:solid 1px #8db2e3;
}
.si-calendar .si-calendar-today
{
    border:1px solid #C00000;
}
.si-calendar-daysheader td
{border-bottom:solid 1px #b2d1f5;    
}
    
/*---------------------- tabs -----------------------------*/

.si-tabs-headers
{
    border-color:#8CB2E2;
    background:#f0f0f0 url(images/toolbar/toolbar.gif) repeat-x 0 0;
}

.si-tabs-leftButton, .si-tabs-rightButton
{
    border:solid 1px #b5afaf;
    background-color:#EBEBEE;
}
a:hover.si-tabs-leftButton,a:hover.si-tabs-rightButton
{
    border:solid 1px #80a4d0;
    background-color:#E1E8FD;
}
/* top */
.si-tabs-bodys
{
    border-color:#8CB2E2;
}
.si-tabs-space
{
    border-color:#8CB2E2;
}
.si-tabs-space2
{
    border-color:#8CB2E2;
}

.si-tab
{
    background: #EBEBEE url(images/tabs/tab.gif) repeat-x 0 0;  
    border: 1px solid #8CB2E2;
    color: #333;    
    
}
.si-tab-hover
{    
    background:#E1E8FD url(images/tabs/hover.gif) repeat-x 0 0; 
}
.si-tab-active
{
    border-bottom:solid 1px #deecfd;
    background:#E1E8FD url(images/tabs/pressed.gif) repeat-x 0 0;  
}

/* bottom */
.si-tabs-position-bottom .si-tabs-space,
.si-tabs-position-bottom .si-tabs-space2
{
    border:0;
    border-top: 1px solid #8CB2E2;
}
.si-tabs-position-bottom .si-tabs-bodys
{    
    border:solid 1px #99bce8;
    border-bottom:0;
}
.si-tabs-position-bottom .si-tab-active
{
    border-top:solid 1px white;
    border-bottom:solid 1px #99bce8;
}

/* left */
.si-tabs-position-left .si-tabs-space,
.si-tabs-position-left .si-tabs-space2
{
    border:0;
    border-right: 1px solid #99bce8;
}
.si-tabs-position-left .si-tabs-bodys
{
    border:solid 1px #99bce8;
    border-left:0;
}
.si-tabs-position-left .si-tab-active
{    
    border:solid 1px #99bce8;
    border-right:solid 1px white;
}

/* right */
.si-tabs-position-right .si-tabs-space,
.si-tabs-position-right .si-tabs-space2
{
    border:0;
    border-left: 1px solid #99bce8;
}
.si-tabs-position-right .si-tabs-bodys
{    
    border:solid 1px #99bce8;
    border-right:0;
}
.si-tabs-position-right .si-tab-active
{    
    border:solid 1px #99bce8;
    border-left:solid 1px white;
}

/*---------------------- tree -----------------------------*/


.si-tree-hottrack .si-tree-node-hover
{
    background:url(images/tree/button.gif) repeat-x 0px 50%;
	border:solid 1px #b5afaf;		  
}
.si-tree-selectedNode .si-tree-nodeshow
{
    background:#e2f2fe url(images/tree/hover.gif) repeat-x 0px 50%;
	border:solid 1px #80a4d0;	
}

.si-tree-leaf
{
    background-image:url(images/tree/leaf.gif);
}
.si-tree-folder
{
    background-image:url(images/tree/folder.gif);
}
.si-tree-expand .si-tree-folder
{
    background-image:url(images/tree/folder-open.gif);
}

/*------------------- grid --------------------*/
.si-grid-border
{
    border-color:#99bce8;
}
.si-grid-header
{
    background:url(images/grid/header.gif) repeat-x scroll left top #e2e4e6;
}
.si-grid-headerCell, .si-grid-topRightCell
{
    background:url(images/grid/header.gif) repeat-x scroll left top #e2e4e6;
    border-right:#c5c5c5 1px solid;
    border-bottom:#c5c5c5 1px solid;
}
.si-grid-cell
{
    border-color:#d0d0d0;
    border-bottom-color:#d0d0d0;
}
.si-grid-footer, .si-grid-pager
{
    border-top:solid 1px #99bce8;    
    background:url(images/grid/footer.gif) repeat-x scroll left top #d4e2f1;
}
.si-grid-columnproxy
{
    background:url(images/grid/header.gif) repeat-x scroll left top #e2e4e6;
    border:#c5c5c5 1px solid;    
}


body .si-grid-row-hover, body .si-grid-row-hover .si-grid-frozenCell
{
    background:#ecedef;    
}
body .si-grid-row-selected, body .si-grid-row-selected .si-grid-frozenCell
{
    background:#dfe8f6;		
}

/*------------------- pager --------------------*/
.si-pager-first
{    
    background:url(images/pager/first.gif) no-repeat;
}
.si-pager-prev
{
    background-image:url(images/pager/prev.gif);
}
.si-pager-next
{
    background-image:url(images/pager/next.gif);
}
.si-pager-last
{
    background-image:url(images/pager/last.gif);
}